{% extends 'forum/base.html' %}

{% block title %}{{ topic.topic_header }}{% endblock %}

{% block content %}
    <h1>{{ topic.topic_header }}</h1><hr>
    <pre>{{ topic.topic_text }}</pre><hr>
    <p>{{ topic.topic_rate_plus }} <a href="addlike/{{ topic.id }}">Like </a>
        {{ topic.topic_rate_minus }}<a href="adddislike/{{ topic.id }}">Dislike </a></p>
    <hr>
    {% if user %}
        <form action="topic/addcomment/{{ topic.id }}" method="post">
            <ul>
                <li type="none">
                    <label for="comment">Comment text:</label>
                </li>
                <li type="none">
                    <textarea cols=70 rows="4" type="text" name="comment" id="comment"></textarea>
                </li>
                <li type="none">
                    <input type="submit" class="button" value="Отправить">
                </li>
            </ul>
        </form>
    {% else %}
        <p class="error">Для отправки комментариев требуется авторизация</p>
    {% endif %}
    {% for comment in comments %}
    <a class="user" href="/view/{{ comment.comments_by }}">{{ comment.comments_by }}</a>
    <p>{{ comment.comments_text }}</p>
    <p><strong>{{ comment.comments_pub_date }}</strong></p>
        <hr>
    {% endfor %}
{% endblock %}